<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="jumbotron">
        <h1>여행기</h1>
        <p class="lead">회원 기능</p>
        <p>
<!--            <a th:if="${session.sessionInfo == null}"-->
            <a class="btn btn-lg btn-secondary" href="/login">로그인</a>
<!--            <a th:if="${session.sessionInfo == null}"-->
            <a class="btn btn-lg btn-secondary" href="/join">회원 가입</a>
            <!--<a th:if="${session.sessionInfo != null}" sec:authorize="hasRole('ROLE_ADMIN')"
               class="btn btn-lg btn-secondary" href="/user/all">회원 목록</a>-->
<!--            <a th:if="${session.sessionInfo != null}"-->
            <a class="btn btn-lg btn-secondary" href="/admin">회원 목록</a>
<!--            <a th:if="${session.sessionInfo != null}"-->
            <a class="btn btn-lg btn-secondary" href="/logout">로그아웃</a>
        </p>
        <p class="lead">여행지 기능</p>
        <p>
            <a class="btn btn-lg btn-dark" href="/locations/new">여행지 등록</a>
            <a class="btn btn-lg btn-dark" href="/locations/all">여행지 목록</a>
        </p>
    </div>
    <!--    <div th:replace="fragments/footer :: footer" />-->
</div> <!-- /container -->